<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Administración | The Mitre</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles_admin.css">
</head>
<body class="admin-login-body">

    <%- include('../partials/_navbar_admin') %>

    <div class="login-container">
        <div class="login-header">
            <img src="/assets/logo_navbar.webp" alt="Logo the mitre bar" class="login-logo">
            <h2>Panel de acceso</h2>
        </div>

        <form action="/login" method="POST" class="login-form">
            <div class="input-group">
                <label for="user">Usuario</label>
                <input type="text" id="user" name="user" required placeholder="Ingresá el usuario">
            </div>

            <div class="input-group">
                <label for="pass">Contraseña</label>
                <input type="password" id="pass" name="pass" required placeholder="********">
            </div>

            <% if (locals.error) { %>
                <div class="error-message">
                    <p><%= error %></p>
                </div>
            <% } %>

            <button type="submit" class="login-btn">
                <span>Ingresar</span>
            </button>
        </form>
    </div>
    
</body>
</html>